body {
  margin: 0;
  box-sizing: border-box;
  background-color: #0079bf;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.header, .footer {
  background-color: #0067a3;
  color: #FFF;
  width: 100%;
}

h1 {
  margin: 0;
}

.headerConteiner {
  display: flex;
  justify-content: space-between;
}

.headerConteiner > h1 {
  margin: 11px 0 18px 20px;
  font-size: 28px;
  line-height: 33px;
}

.conteiner {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.block {
  margin: 10px;
  background-color: #EBECF0;
  border-radius: 10px;
  padding: 12px;
  color: #000;
  width: 282px;
}

.activeLink {
  text-decoration: none;
  color: initial;
}

.activeLink > h1 {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.input {
  margin: 15px 0;
  padding: 8px;
  border-radius: 5px;
  width: -webkit-fill-available;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.button, .input {
  border: none;
}

.button {
  font-size: 18px;
  line-height: 21px;
  color: #5E6C84;
  cursor: pointer;
}

.buttonBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
}

.footerWrapper {
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
}

.footerWrapper, .footerCountValueBlock {
  display: flex;
}

.footerCountValueBlock > div, .footerWrapper_author {
  padding: 17px;
}

.dropDownMenu > ul {
  list-style-type: none;
  padding: 0;
  margin: 8px;
  display: inline-block;
}

.dropDownMenu {
  background-color: #FFF;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  width: 134px;
  position: absolute;
  right: 9px;
  top: 65px;
}

.dropDownMenu:before {
  content: "\2B27";
  font-size: 30px;
  position: absolute;
  top: -7px;
  right: 30px;
  color: #fff;
}

.headerConteinerBlock {
  margin: 8px;
}

.delTaskFromTable {
  background-image:url(./components/images/cross.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  margin: 0.5em 0;
}

.tableElement {
  display: flex;
  justify-content: space-between;
}

.pageColumn {
  background-color: #fff;
  position: relative;
  margin: 26px;
  border-radius: 5px;
  height: 550px;
  padding: 22px 28px;
}

.closeBtnPageColumn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 2em;
  height: 30px;
}

.pageColumnTask_textarea{
  border: none;
  width: -webkit-fill-available;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #dbdbdb;
  border-radius: 5px;
}

.inputOff {
  display: none;
}

.inputOn {
  display: inline-block;
  background-color: #dbdbdb;
}

.btnSubmitOff {
  display: none;
}

.listItemOff {
  display: none;
}

.dropdownOn {
  height: 35px;
  background-color: #dbdbdb;
  border-radius: 5px;
}

@media (max-width: 651px) {
  .headerConteiner > h1, .footer {
    display: none;
  }

  .header {
    background-color: initial;
  }

  .headerConteinerBlock {
    margin: 8px 8px auto auto;
  }
}